<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<div layout:fragment="content">
<div>
	<h5>사용자 관리</h5>
</div>
	<div id="app" v-cloak class="wrapper card-body card-shadow-sm">
		<div class="container">
		<div class="row w-100">
			<div class="searchBox col-sm-6">
			<div class="row w-100">
				<div class="col-sm-4">
					<div><label for="searchkeyword"></label></div>
					<div>
						<select id="searchKeyword" class="form-select form-select-sm mb-3" size="1" aria-label="size 3 select example" required
							v-model="searchKeyword"
							>
							<option value="0" selected>--전체--</option>
							<option value="1">아이디</option>
							<option value="2">이름</option>
						</select>
					</div>
				</div>
				<div class="col-sm-8">
					<div><label for="searchTerm"></label></div>
					<div class="input-group input-group-sm mb-3">
						<input type="text" class="form-control" placeholder="검색어 입력" name="searchTerm" id="searchTerm"
							@keydown.enter="fn_search"
							v-model.trim="searchTerm"
						/>
						<input type="button" id="searchBtn" class="btn btn-outline-secondary" value="검색" @click="fn_search" />
						<input type="button" id="searchReset" class="btn btn-outline-secondary" value="검색초기화" @click="fn_searchReset" />
						<div>
						</div>
					</div>
				</div>
			</div>
			</div>

			<div class="col d-flex flex-row-reverse">
				<!-- 글 등록버튼(상단) -->
				<div class="mb-3">
					<div><label></label></div>
					<input type="button" class="btn btn-outline-danger btn-sm" value="사용자 등록" @click="fn_signUp" title="회원가입은 비로그인 상태에서만!"/>
				</div>
			</div>
		</div>
		</div>
		
		<div class="card-body py-1 px-3">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th scope="col">no</th>
						<th scope="col">사용자 아이디</th>
						<th scope="col">사용자 이름</th>
						<th scope="col">등록일자</th>
						<th scope="col" title="최근 수정일">비고</th>
					</tr>
				</thead>
				<!-- v-for, v-if 사용 on ${users}-->
				<tbody>
					<tr v-for="(user, idx) in users"
						:key="user.userId"
						class="row-hover"
						:class="idx % 2 === 0 ? 'row-odd' : 'row-even'"
						@click="fn_userDetailPage(user.userId)"
						>
						<td scope="row">{{idx +1}}</td>
						<td>{{ user.userId }}</td>
						<td>{{ user.userNm }}</td>
						<td class="user-rgst-datetime"><span>{{ fn_toMonthDayTime(user.rgstDt) }}</span></td>
						<td class="user-rgst-datetime" title="최근 수정일"><span v-if="user.rgstDt != user.updtDt">{{ fn_toMonthDayTime(user.updtDt) }}</span></td>
					</tr>
					
					<tr v-if="users.length === 0">
						<td colspan="5" class="text-center">
							<span class="text-muted">검색 결과가 없습니다.</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- 글 등록버튼(하단) -->
		<div class="container">
			<div class="row">
				<div class="col"></div>
				<div class="col d-flex flex-row-reverse">
					<div>
						<div><label></label></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script th:inline="javascript">
		const { createApp } = Vue;
		
		createApp({
			data() {
				return {
					root: null
					, contextPath: ""
					, users: /*[[${userList}]]*/ []
					, searchKeyword: "0"
					, searchTerm: ""
				}
			},
			mounted() {
				const searchParams = new URLSearchParams(window.location.search);
				console.debug(window.location.search);
				console.debug(searchParams);
				const searchObject = Object.fromEntries(searchParams);
				console.debug(searchObject);
				
				if(searchObject.key) searchKeyword.value = searchObject.key;
				if(searchObject.term) searchTerm.value = searchObject.term;
			},
			methods: {
				fn_toMonthDayTime(str) {
					if(!str) return "";
					
					const date = new Date(str);
					if(isNaN(date)) return "";
					console.debug(String(date))
					// "Tue Sep 23 13:02:25 KST 2025"
					const parts = String(date).trim().split(/\s+/);
					if (parts.length < 6) return "";
					const monthMap = {
						Jan:"01", Feb:"02", Mar:"03", Apr:"04", May:"05", Jun:"06",
						Jul:"07", Aug:"08", Sep:"09", Oct:"10", Nov:"11", Dec:"12"
					};
					
					console.debug(parts); //[ "Tue", "Oct", "14", "2025", "14:54:36", "GMT+0900", "(한국", "표준시)" ]
					
					const year = parts[3];
					const month = monthMap[parts[1]];
					const day   = parts[2].padStart(2, "0");
					const [hh, mm] = parts[4].split(":"); // 초는 버림
					
					if (!month || !hh || !mm) return "";
					return `${year}-${month}-${day} ${hh.padStart(2,"0")}:${mm.padStart(2,"0")}`;
				}
				
				, fn_userDetailPage(userId) {
					const uri = `${encodeURIComponent(this.contextPath)}/cmmn/user/detail?userId=${encodeURIComponent(userId)}`;
					window.location.href = uri;
				}
				
				, fn_search() {
					const key = searchKeyword.value ?? "0";
					const term = searchTerm.value ?? 'default';
					const uri = `/cmmn/user/list?key=${encodeURIComponent(key)}&term=${encodeURIComponent(term)}`;
					window.location.href = uri;
				}
				
				, fn_searchReset() {
					const uri = "/cmmn/user/list";
					window.location.href = uri;
				}
				
				, fn_signUp() {
					alert("로그인 상태에서 회원가입을 진행할 수는 없습니다.");
				}
			}
		}).mount("#app");
		
	</script>
</div>
</html>