<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">
<div layout:fragment="content">
<style>
.comment-form {
	display: none;
}

[v-cloak] {
	display: none;
}
</style>

	<div>
		<!-- 게시판 유형 위치할 1행 -->
		<h5>자유게시판</h5>
	</div>

	<div id="app" v-cloak>
		<div class="post-details card">
			<div class="card-header d-flex flex-row gap-4">
				<div class="mt-2">
					<h4>{{ post.postTitle }}</h4>
				</div>
				<div class="mt-3">
					<small>작성자: {{ post.userId }}</small> | <small class="text-muted">작성일:
						{{ fn_toMonthDayTime(post.rgstDt) }}</small>
					<template v-if="post.updtDt && post.updtDt !== post.rgstDt">
						| <small class="text-muted">수정일: {{
							fn_toMonthDayTime(post.updtDt) }}</small>
					</template>
				</div>
			</div>

			<div class="card-body">
				<p class="card-text" style="text-align: start;">{{ post.postContent }}</p>
			</div>

			<div class="card-body py-1 text-end" v-if="username === post.userId">
				<input type="button" value="수정" v-if="username === post.userId"
					class="btn btn-outline-primary btn-sm" @click="fn_updatePost" />&nbsp;
				<input type="button" value="삭제" v-if="username === post.userId" 
					class="btn btn-outline-danger  btn-sm" @click="fn_deletePost" />&nbsp;
				<input type="button" value="덧글 등록" 
					class="btn btn-sm btn-outline-success" :data-post-id="post.postId" @click="toggle_insertCmt($event.target)" />
			</div>

			<template v-if="attachFileList && attachFileList.length > 0">
				<div class="post-attach card m-4">
					<div class="card-header d-flex flex-col gap-2">
						<div class="mt-2">
							<div v-for="file in attachFileList" :key="file.fileSeq"
								class="attach-file d-flex flex-row gap-3">
								<a
									:href="`/board/attach/select?fileGrpId=${file.fileGrpId}&fileSeq=${file.fileSeq}`">
									<i class="ti ti-chevron-down"></i> <abbr>{{
										file.fileOrgNm }}</abbr>
								</a> <span class="text-muted">({{ file.fileSize }} byte)</span>
							</div>
						</div>
					</div>
				</div>
			</template>
			<template v-else>
				<small class="m-4 text-muted"><em>첨부된 파일이 없습니다.</em></small>
			</template>
		</div>

		<div class="card">
			<div class="card-body">
				<div class="comment-tree" id="cmtTree">
					<!-- cloneNode로 댓글트리 출력 -->
				</div>
			</div>
			<div class="card-body py-1 text-end">
				<input type="button" value="수정" v-if="username === post.userId"
					class="btn btn-outline-primary btn-sm" @click="fn_updatePost" />&nbsp;
				<input type="button" value="삭제" v-if="username === post.userId"
					class="btn btn-outline-danger  btn-sm" @click="fn_deletePost" />&nbsp; 
				<input type="button" value="덧글 등록" 
					class="btn btn-sm btn-outline-success" :data-post-id="post.postId" @click="toggle_insertCmt($event.target)" />
			</div>
		</div>

		<div class="cmt-template" style="display: none;">
			<div
				class="comment-section d-flex gap-3 py-3 border-bottom align-items-start"
				id="cmtSection" style="display: none;" data-cmt-id=""
				data-cmt-parent-id="">
				<img src="/user-profile/board-0a9c6b4d-6db0-4b67-aaa0-b1a6dfe88055-blank-image-placeholder-profile-picture-260nw-1923893873" alt="user-avatar" class="rounded-circle flex-shrink-0"
					width="40" height="40" />
				<div class="flex-grow-1">
					<div class="d-flex justify-content-between align-items-center mb-1">
						<div class="d-flex align-items-center gap-2">
							<span class="cmt-user fw-bold"></span> <small class="cmt-time text-muted"></small>
						</div>
						<div class="btn-group btn-group-sm">
							<button type="button"
								class="btn btn-outline-danger   btn-comment-delete"
								style="display: none;">삭제</button>
							<button type="button"
								class="btn btn-outline-primary  btn-comment-update"
								style="display: none;">수정</button>
							<button type="button"
								class="btn btn-outline-secondary btn-comment-reply">답글</button>
						</div>
					</div>
					<div class="comment-content">
						<span class="cmt-content mb-0 fs-6"></span>
					</div>
				</div>
			</div>

			<div class="comment-form card border-0 mb-2" id="cmtForm"
				style="display: none;">
				<div class="card-body py-2">
					<form class="d-flex gap-2 align-items-start">
						<input type="hidden" name="postId" :value="post.postId" /> <input
							type="hidden" name="cmtParentId" /> <input type="hidden"
							name="cmtDepth" /> <img src="/user-profile/board-0a9c6b4d-6db0-4b67-aaa0-b1a6dfe88055-blank-image-placeholder-profile-picture-260nw-1923893873" alt="me-avatar"
							class="rounded-circle flex-shrink-0" width="36" height="36" />
						<div class="flex-grow-1">
							<textarea class="form-control" name="cmtContent" rows="2"
								placeholder="댓글을 입력하세요..."></textarea>
						</div>
						<div class="d-flex flex-column gap-1">
							<button type="button" class="btn-save btn btn-sm btn-primary">등록</button>
							<button type="button"
								class="btn-cancel btn btn-sm btn-outline-secondary">취소</button>
						</div>
					</form>
				</div>
			</div>
			
			
			<!-- 답글폼 -->
			<div class="comment-reply-form card border-0 mb-2 d-flex flex-column" id="cmtReplyForm"
				style="display: none;">
				<div class="comment-section d-flex gap-3 py-3 border-bottom align-items-start"
					id="cmtSection" style="display: none;" data-cmt-id="" data-cmt-parent-id="">
					<img src="/user-profile/board-0a9c6b4d-6db0-4b67-aaa0-b1a6dfe88055-blank-image-placeholder-profile-picture-260nw-1923893873" alt="user-avatar" class="rounded-circle flex-shrink-0"
						width="40" height="40" />
					<div class="flex-grow-1">
						<div class="d-flex justify-content-between align-items-center mb-1">
							<div class="d-flex align-items-center gap-2">
								<span class="cmt-user fw-bold"></span> <small class="cmt-time text-muted"></small>
							</div>
						</div>
						<div class="comment-content">
							<span class="cmt-content mb-0 fs-6"></span>
						</div>
					</div>
				</div>
				<div class="card-body py-2">
					<form class="d-flex gap-2 align-items-start">
						<input type="hidden" name="postId" :value="post.postId" /> <input
							type="hidden" name="cmtParentId" /> <input type="hidden"
							name="cmtDepth" /> <img src="/user-profile/board-0a9c6b4d-6db0-4b67-aaa0-b1a6dfe88055-blank-image-placeholder-profile-picture-260nw-1923893873" alt="me-avatar"
							class="rounded-circle flex-shrink-0" width="36" height="36" />
						<div class="flex-grow-1">
							<textarea class="form-control" name="cmtContent" rows="2"
								placeholder="댓글을 수정하세요..."></textarea>
						</div>
						<div class="d-flex flex-column gap-1">
							<button type="button" class="btn-save btn btn-sm btn-primary">등록</button>
							<button type="button"
								class="btn-cancel btn btn-sm btn-outline-secondary">취소</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<script th:inline="javascript">
	const { createApp, ref, onMounted } = Vue;
	
	createApp({
		setup() {
			
			const post           = ref(/*[[${post}]]*/ {});
			const attachFileList = ref(/*[[${attachFileList}]]*/ []);
			const username       = ref(/*[[${username}]]*/ "");
			
			const fn_deletePost = () => {
				window.location.href = `/board/post/delete?postId=${post.value.postId}`;
			};
			
			const fn_updatePost = () => {
				window.location.href = `/board/forum/post/update?postId=${post.value.postId}`;
			};
			
			const toggle_updateCmt = (btn) => {
				const cmtId = btn.dataset.cmtId;
				const originalCmtDiv = btn.closest(".comment-section");
				const originalCmtContent = originalCmtDiv.querySelector(".comment-content span")?.innerText || "";
				
				const cmtForm = document.querySelector("#cmtForm").cloneNode(true);
				cmtForm.id = "";
				cmtForm.style.display = "flex";
				cmtForm.querySelector("textarea[name=cmtContent]").value = originalCmtContent;
				cmtForm.querySelector(".btn-save").innerText = "수정";
				cmtForm.querySelector(".btn-save").onclick = async () => {
					const cmtContent = cmtForm.querySelector("textarea[name=cmtContent]").value;
					const resp = await fetch("/board/comment/update", {
						method: "POST",
						body: JSON.stringify({ cmtId, cmtContent }),
						headers: { "Content-Type":"application/json", "Accept":"application/json" }
					});
					if (resp.ok) {
						alert("댓글이 성공적으로 수정되었습니다.");
						await loadComments();
					}
				};
				
				cmtForm.querySelector(".btn-cancel").innerText = "취소";
				cmtForm.querySelector(".btn-cancel").onclick = async () => {
					await loadComments();
				}
				originalCmtDiv.innerHTML = "";
				originalCmtDiv.appendChild(cmtForm);
			};
			
			const toggle_insertCmt = (btn) => {
				const cmtParentId = btn.dataset.cmtId || null;
				const cmtDepth    = btn.dataset.cmtDepth || 0;
				const cmtForm = document.querySelector("#cmtForm").cloneNode(true);
				cmtForm.id = "";
				cmtForm.style.display = "flex";
				cmtForm.querySelector("input[name=cmtParentId]").value = cmtParentId ?? "";
				cmtForm.querySelector("input[name=cmtDepth]").value    = cmtDepth;
				
				cmtForm.querySelector(".btn-save").innerText = "등록";
				cmtForm.querySelector(".btn-save").onclick = async () => {
					const postId     = post.value.postId;
					const cmtContent = cmtForm.querySelector("textarea[name=cmtContent]").value;
					const resp = await fetch("/board/comment/insert", {
						method: "POST",
						body: JSON.stringify({ postId, cmtParentId, cmtContent, cmtDepth }),
						headers: { "Content-Type":"application/json", "Accept":"application/json" }
					});
					if (resp.ok) {
						alert("댓글이 성공적으로 등록되었습니다.");
						await loadComments();
					}
				};
				cmtForm.querySelector(".btn-cancel").innerText = "취소";
				cmtForm.querySelector(".btn-cancel").onclick = async () => {
					await loadComments();
				}
				
				
				const parentSection = btn.closest(".comment-section");
				if (parentSection) parentSection.appendChild(cmtForm);
				else document.getElementById("cmtTree").appendChild(cmtForm);
			};
			
			const toggle_replyCmt = (btn) => {
				const cmtParentId = btn.dataset.cmtId || null;
				const cmtDepth    = btn.dataset.cmtDepth || 0;
				const cmtForm = document.querySelector("#cmtReplyForm").cloneNode(true);
				cmtForm.id = "";
				cmtForm.style.display = "flex";
				cmtForm.querySelector("input[name=cmtParentId]").value = cmtParentId ?? "";
				cmtForm.querySelector("input[name=cmtDepth]").value    = cmtDepth;
				
				const parentSection = btn.closest(".comment-section");
				const parentCmtUser = parentSection.querySelector(".cmt-user").innerText;
				const parentCmtTime = parentSection.querySelector(".cmt-time").innerText;
				const parentCmtContent = parentSection.querySelector(".cmt-content").innerText;
				console.debug(parentCmtUser, parentCmtTime, parentCmtContent);
				
				cmtForm.querySelector(".cmt-user").innerText = parentCmtUser;
				cmtForm.querySelector(".cmt-time").innerText = parentCmtTime;
				cmtForm.querySelector(".cmt-content").innerText = parentCmtContent;
				
				cmtForm.querySelector(".btn-save").innerText = "등록";
				cmtForm.querySelector(".btn-save").onclick = async () => {
					const postId     = post.value.postId;
					const cmtContent = cmtForm.querySelector("textarea[name=cmtContent]").value;
					const resp = await fetch("/board/comment/insert", {
						method: "POST",
						body: JSON.stringify({ postId, cmtParentId, cmtContent, cmtDepth }),
						headers: { "Content-Type":"application/json", "Accept":"application/json" }
					});
					if (resp.ok) {
						alert("댓글이 성공적으로 등록되었습니다.");
						//await loadComments();
						window.location.href = '';
					}
				};
				
				cmtForm.querySelector(".btn-cancel").innerText = "취소";
				cmtForm.querySelector(".btn-cancel").onclick = async () => {
					//await loadComments();
					window.location.href = '';
				}
				
				//const parentSection = btn.closest(".comment-section");
				if (parentSection) {
					parentSection.replaceChildren();
					parentSection.appendChild(cmtForm);
				}
				else document.getElementById("cmtTree").appendChild(cmtForm);
			};
			
			const fn_deleteCmt = async (btn) => {
				const cmtId = btn.dataset.cmtId;
				if (!confirm("댓글을 삭제하시겠습니까?")) return;
				const resp = await fetch("/board/comment/delete", {
					method: "POST",
					body: JSON.stringify({ cmtId }),
					headers: { "Content-Type":"application/json", "Accept":"application/json" }
				});
				if (resp.ok) {
					alert("댓글이 성공적으로 삭제되었습니다.");
					await loadComments();
				}
			};
			
			const fn_toMonthDayTime = (str) => {
				if(!str) return "";
				
				const date = new Date(str);
				if(isNaN(date)) return "";
				console.debug(String(date))
				// "Tue Sep 23 13:02:25 KST 2025"
				const parts = String(date).trim().split(/\s+/);
				if (parts.length < 6) return "";
				const monthMap = {
					Jan:"01", Feb:"02", Mar:"03", Apr:"04", May:"05", Jun:"06",
					Jul:"07", Aug:"08", Sep:"09", Oct:"10", Nov:"11", Dec:"12"
				};
				
				console.debug(parts); //[ "Tue", "Oct", "14", "2025", "14:54:36", "GMT+0900", "(한국", "표준시)" ]
				
				const year = parts[3];
				const month = monthMap[parts[1]];
				const day   = parts[2].padStart(2, "0");
				const [hh, mm] = parts[4].split(":"); // 초는 버림
				
				if (!month || !hh || !mm) return "";
				return `${year}-${month}-${day} ${hh.padStart(2,"0")}:${mm.padStart(2,"0")}`;
			};
			
			const renderComments = (cmtList) => {
				const commentTree   = document.getElementById("cmtTree");
				if(!commentTree) {
					console.error("[renderComments] #cmtTree를 찾지 못함.");
					return;
				}
				
				const commentTmpl   = document.getElementById("cmtSection");
				if (!commentTmpl) {
					console.error("[renderComments] #cmtSection 템플릿이 없습니다. 템플릿 DOM을 확인하세요.");
					commentTree.replaceChildren(document.createTextNode("댓글 템플릿이 없습니다."));
					return;
				}
				commentTree.replaceChildren();
				
				if (!Array.isArray(cmtList) || cmtList.length === 0) {
					commentTree.innerHTML = "<span>아직 등록된 댓글이 없습니다</span>";
					return;
				}
				
				cmtList.forEach(cmt => {
					console.debug(cmt.cmtId);
					const sectionClone = commentTmpl.cloneNode(true);
					sectionClone.removeAttribute("id");
					sectionClone.removeAttribute("style");
					console.debug("sectionClone 영역은 문제 없었나?");
					if(sectionClone.dataset){
						sectionClone.dataset.cmtId      = cmt.cmtId;
						sectionClone.dataset.cmtParentId= cmt.cmtParentId || "";
						sectionClone.dataset.cmtDepth   = cmt.cmtDepth;
					}
					sectionClone.style.display = "flex";
					sectionClone.style.marginLeft = (cmt.cmtDepth * 20) + "px";
					sectionClone.style.textAlign = "start";
					
					sectionClone.querySelector(".cmt-user").innerText    = cmt.userId;
					sectionClone.querySelector(".cmt-time").innerText    = fn_toMonthDayTime(cmt.rgstDt);
					if(cmt.updtDt !== cmt.rgstDt) sectionClone.querySelector(".cmt-time").innerText    = fn_toMonthDayTime(cmt.rgstDt) + "(수정: " + fn_toMonthDayTime(cmt.updtDt) + ")";
					sectionClone.querySelector(".cmt-content").innerText = cmt.cmtContent;
					
					const btnDelete = sectionClone.querySelector(".btn-comment-delete");
					const btnUpdate = sectionClone.querySelector(".btn-comment-update");
					const btnReply  = sectionClone.querySelector(".btn-comment-reply");
					
					if (cmt.userId === username.value) {
						console.debug("btnDelete의 style 건듦.");
						btnDelete.style.display = "inline-block";
						btnDelete.dataset.cmtId = cmt.cmtId;
						btnDelete.onclick = () => fn_deleteCmt(btnDelete);
						
						console.debug("btnUpdate의 style 건듦.");
						btnUpdate.style.display = "inline-block";
						btnUpdate.dataset.cmtId   = cmt.cmtId;
						console.debug("에러지점 직전: ", cmt.cmtId, cmt);
						btnUpdate.dataset.cmtDepth= cmt.cmtDepth;
						btnUpdate.onclick = () => toggle_updateCmt(btnUpdate);
					}
					btnReply.dataset.cmtId   = cmt.cmtId;
					btnReply.dataset.cmtDepth= (cmt.cmtDepth || 0) + 1;
					btnReply.onclick = () => toggle_replyCmt(btnReply);
					
					commentTree.appendChild(sectionClone);
				});
			};
			
			const loadComments = async () => {
				const resp = await fetch(`/board/comment/select?postId=${post.value.postId}`, {
				  method: "GET", headers: { "Accept":"application/json" }
				});
				if (!resp.ok) { console.error("댓글트리 조회 실패."); return; }
				const data = await resp.json();
				const cmtList = data.cmtList || [];
				renderComments(cmtList);
			};
			
			onMounted(() => { loadComments(); });
			
			return {
				post, attachFileList, username,
				fn_deletePost, fn_updatePost,
				toggle_updateCmt, toggle_insertCmt, toggle_replyCmt,
				fn_deleteCmt, loadComments, renderComments,
				fn_toMonthDayTime
			};
		}
	}).mount('#app');
	</script>
</div>
</html>
