<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1">
		
    <title>DEFAULT</title>

	<!-- 각 페이지의 script가 작성될 위치 -->
    <th:block layout:fragment="script">
    	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    	<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
		<script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<script src="/js/sidebarmenu.js"></script>
		<script src="/js/app.min.js"></script>
		<script src="/libs/apexcharts/dist/apexcharts.min.js"></script>
		<script src="/libs/simplebar/dist/simplebar.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    </th:block>
    <!-- 각 페이지의 css가 작성될 위치 -->
    <th:block layout:fragment="css">
    	<link rel="stylesheet" href="/css/custom.css">
		<link rel="shortcut icon" type="image/png" href="/images/logos/favicon.png" />
		<link rel="stylesheet" href="/css/styles.min.css" />
    </th:block>
</head>
<body>
<div id="app" v-cloak>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    
	<div th:replace="fragments/sidebar::sidebar"></div>
	
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
         		<div th:replace="fragments/header::header"></div>
      </header>
	<div class="body-wrapper-inner" style="margin-top: 100px">
		<div class="px-6 text-center" style="width: 100%">
			<div layout:fragment="content" class="content kcy_body"></div>
	    	<div th:replace="fragments/footer::footer"></div>
	   	</div>
	</div>
</div>
</div>
</div>
<script th:inline="javascript">

	const url = "/";
	if (window.opener) {
		console.debug("분기를 타고 있나? ");
		window.opener.location.href = url;
		window.close();
	}
	
	


</script>
</body>
</html>