<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1">
		
    <title>POP-UP</title>

	<!-- 각 페이지의 script가 작성될 위치 -->
    <th:block layout:fragment="script">
    	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    	<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
		<script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<script src="/js/sidebarmenu.js"></script>
		<script src="/js/app.min.js"></script>
		<script src="/libs/apexcharts/dist/apexcharts.min.js"></script>
		<script src="/libs/simplebar/dist/simplebar.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    </th:block>
    <!-- 각 페이지의 css가 작성될 위치 -->
    <th:block layout:fragment="css">
    	<link rel="stylesheet" href="/css/custom.css">
		<link rel="shortcut icon" type="image/png" href="/images/logos/favicon.png" />
		<link rel="stylesheet" href="/css/styles.min.css" />
    </th:block>
</head>
<body>
<div class='wrap'>
	<div class='content body-wrapper'>
		<div layout:fragment="content" class="content"></div>
	</div>
</div>
</body>
</html>